anthropic==0.49.0
dotenv==0.9.9
duckduckgo_search==7.5.3
google-api-core==2.24.2
google-api-python-client==2.164.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
googleapis-common-protos==1.69.1
langchain==0.3.21
langchain-anthropic==0.3.10
langchain-community==0.3.20
langchain-core==0.3.47
langchain-google-community==2.0.7
langchain-groq==0.3.1
langchain-openai==0.3.8
langchain-tavily==0.1.5
langchain-text-splitters==0.3.7
langgraph==0.3.8
langgraph-checkpoint==2.0.19
langgraph-prebuilt==0.1.2
langgraph-sdk==0.1.56
langsmith==0.3.13
linkup-sdk==0.2.4
lxml==5.3.1
markdown-it-py==3.0.0
numpy==2.2.3
openai==1.66.3
orjson==3.10.15
packaging==24.2
pandas==2.2.3
prompt_toolkit==3.0.50